<article class="article">
    <section class="details">
        <header>
            <h1>Why Today’s Youth Are More Prone to Mental Illness</h1>
        </header>
        <div class="info">
            <p>Written by Roha Muhammad</p>
            <p>February 22, 2024</p>
        </div>
        <p class="preview">
            The list of apparent differences between Generation Z (Gen Z) and Millenials continues to grow in light of recent reports revealing that approximately half of the Gen Z population struggles to positively progress in their lives whilst they evidently struggle with mental health issues [5]. This finding poses the question; what major issues are being experienced by Gen Z in modern society that are contributing to increasing rates of poor mental health?
        </p>
    </section>
    <section class="image">
        <img src="../../../../assets/st_favicon.png" alt="Image related to article">
    </section>
</article>
