/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'LibreCaslon';
    src: url('/app/assets/fonts/Libre_Caslon_Text/LibreCaslonText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}